/* Hack Nerd Font Regular */
@font-face {
    font-family: 'Hack Nerd Font';
    src: url('../fonts/HackNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Hack Nerd Font Bold */
@font-face {
    font-family: 'Hack Nerd Font';
    src: url('../fonts/HackNerdFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Hack Nerd Font Italic */
@font-face {
    font-family: 'Hack Nerd Font';
    src: url('../fonts/HackNerdFont-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Hack Nerd Font Bold Italic */
@font-face {
    font-family: 'Hack Nerd Font';
    src: url('../fonts/HackNerdFont-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Hack Nerd Font', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Hack Nerd Font', sans-serif;
    font-weight: bold; /* Uses bold variant */
}

em {
    font-family: 'Hack Nerd Font', sans-serif;
    font-style: italic; /* Uses italic variant */
}

strong {
    font-family: 'Hack Nerd Font', sans-serif;
    font-weight: bold; /* Uses bold variant */
}

em strong {
    font-family: 'Hack Nerd Font', sans-serif;
    font-weight: bold; /* Uses bold-italic variant */
    font-style: italic; /* Uses italic variant */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}